# Chapter 2.  Exercises
## 1

In [1]:
val name = "danny"

name: String = "danny"

In [4]:
if (name != null) {println(name)} else println("n/a")

danny

In [5]:
name match{
    case "" => "n/a"
    case n => n
}

res4: String = "danny"

## 2

In [6]:
val amount: Double = 3.6

amount: Double = 3.6

In [7]:
amount match{
    case x if x > 0 => "greater"
    case x if x == 0 => "same"
    case x if x < 0 => "less"
}

res6: String = "greater"

In [8]:
if (amount > 0) "greater" else if (amount == 0) "same" else "less"

res7: String = "greater"

## 3

In [9]:
val color = "cyan"

color: String = "cyan"

In [10]:
color match {
    case "cyan" => "00ffff"
    case "magenta" => "00ff00"
    case "yellow" => "ffff00"
    case x => {
    println(s"Didn't expect $x !")
    "333333"
    }
}

res9: String = "00ffff"

## 4

In [16]:
for (i <- 1 to 100 by 5) {
    for (j <- i to ( i + 4 )) {print(s"$j, ")}
    println("")
}

1, 2, 3, 4, 5,
6, 7, 8, 9, 10,
11, 12, 13, 14, 15,
16, 17, 18, 19, 20,
21, 22, 23, 24, 25,
26, 27, 28, 29, 30,
31, 32, 33, 34, 35,
36, 37, 38, 39, 40,
41, 42, 43, 44, 45,
46, 47, 48, 49, 50,
51, 52, 53, 54, 55,
56, 57, 58, 59, 60,
61, 62, 63, 64, 65,
66, 67, 68, 69, 70,
71, 72, 73, 74, 75,
76, 77, 78, 79, 80,
81, 82, 83, 84, 85,
86, 87, 88, 89, 90,
91, 92, 93, 94, 95,
96, 97, 98, 99, 100,

## 5

In [1]:
for (i <- 1 to 100){
    if (i % 3 == 0 & i % 5 == 0) println("typesafe")
    else if (i % 3 == 0) println("type")
    else if (i % 5 == 0) println("safe")
    else println(i)
}

1
2
type
4
safe
type
7
8
type
safe
11
type
13
14
typesafe
16
17
type
19
safe
type
22
23
type
safe
26
type
28
29
typesafe
31
32
type
34
safe
type
37
38
type
safe
41
type
43
44
typesafe
46
47
type
49
safe
type
52
53
type
safe
56
type
58
59
typesafe
61
62
type
64
safe
type
67
68
type
safe
71
type
73
74
typesafe
76
77
type
79
safe
type
82
83
type
safe
86
type
88
89
typesafe
91
92
type
94
safe
type
97
98
type
safe

In [2]:
for (i <- 1 to 100){
    i match {
        case x if x % 15 == 0 => println("typesafe")
        case x if x % 5 == 0 => println("safe")
        case x if x % 3 == 0 => println("type")
        case x => println(x)
    }
}

1
2
type
4
safe
type
7
8
type
safe
11
type
13
14
typesafe
16
17
type
19
safe
type
22
23
type
safe
26
type
28
29
typesafe
31
32
type
34
safe
type
37
38
type
safe
41
type
43
44
typesafe
46
47
type
49
safe
type
52
53
type
safe
56
type
58
59
typesafe
61
62
type
64
safe
type
67
68
type
safe
71
type
73
74
typesafe
76
77
type
79
safe
type
82
83
type
safe
86
type
88
89
typesafe
91
92
type
94
safe
type
97
98
type
safe

## 6

In [3]:
for (i <- 1 to 100) {var s=""; if (i%3==0) s="type"; if(i%5==0) s+="safe"; if(s.isEmpty) s += i; println(s)}

1
2
type
4
safe
type
7
8
type
safe
11
type
13
14
typesafe
16
17
type
19
safe
type
22
23
type
safe
26
type
28
29
typesafe
31
32
type
34
safe
type
37
38
type
safe
41
type
43
44
typesafe
46
47
type
49
safe
type
52
53
type
safe
56
type
58
59
typesafe
61
62
type
64
safe
type
67
68
type
safe
71
type
73
74
typesafe
76
77
type
79
safe
type
82
83
type
safe
86
type
88
89
typesafe
91
92
type
94
safe
type
97
98
type
safe